* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #035757;
}